body{
    font-size:14px;

    margin:0;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}

*,
*:before,
*:after {
    box-sizing:border-box;
}





/*CONTAiNER
===================*/

.container{
    padding: 40px 0;
    position: relative;
    width:100%;
    margin:0 auto;
    max-width: 1200px;
}




/*HEADER
===================*/

header{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
}

.header__inner{
    display:flex;
    justify-content: space-between;

}

.header__logo{

    color:#fff;
    margin-bottom:0;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}



/*NAV
===================*/

nav{
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
     display: flex;
    text-transform: uppercase;

}

.nav__link{

    margin:0 20px;
    color:#fff;
    text-decoration:none;

    transition:color .1s linear;

}

.nav__link:hover{

    color:#1abc9c;
}

.burger{
    display:none;
}

.burger__item{
    display:block;
    width:30px;
    height:3px;
    background-color: #fff;
    font-size:0;
    color:transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after{

    content:"";
    width:100%;
    height:100%;
    background-color: #fff;
    position:absolute;
    left:0;
    z-index:1;

}

.burger__item:before{
    top:-8px;
}

.burger__item:after{

    bottom:-8px;
}




/*INTRO
===================*/

.intro{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    z-index:1;

    height:600px;
    padding-top:100px;


    background: #31344e url("images/bg.jpg") center no-repeat;

    background-size: cover;

}




.intro__inner{
    width:100%;
    max-width:970px;
    margin: 0 auto;
    text-align: center;
    padding: 0 140px;

}

.intro__title{

    font-family: 'Rokkitt', serif;
    font-weight:400;
    color:#fff;
    font-size:60px;
    border-bottom: 1px solid #fff;

}



.intro__subtitle{


    font-family: 'Quicksand', sans-serif;
    font-weight:400;
    color:#fff;
    font-size:20px;
    margin:20px 0;

}




/*BUTTON
==============*/


.btn__border{

    background-color:rgba(26, 188, 156, .7);
    width:240px;
    height:50px;
    margin: -25px auto 0 auto;

    border-radius: 5px;
    padding:5px;

    transition:background-color .2s linear;


}

.btn{
    display: flex;
    justify-content: center;

    font-family: 'Rokkitt', serif;
    font-weight:400;
    font-size:24px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1abc9c;
    padding-top:5px;
    color:#fff;
    width:100%;
    height:100%;

    transition:background-color .2s linear;
}


.btn__border:hover{

    background-color: rgba(22, 157, 130, 1);

}

.btn__border:hover .btn{

    background-color: #169d82;

}


/*ABOUT
==================*/

.about{
    text-align:center;
    margin:60px auto;
    font-family: 'Montserrat', sans-serif;
}

.about__inner{
    padding:0 100px;
}


.about__author{
    text-transform: uppercase;
    font-size:36px;

    font-weight:700;
    color:#1abc9c;
    margin-bottom: 60px;
}


.about__text{

    font-size:18px;
    font-weight:400;
    color:#95a5a6;
}


/*SKILLS
=============*/


.skills{

    margin-top:80px;
}

.skills__icon{
    margin-bottom: 20px;

}


.skills__inner{
    display:flex;
    justify-content: center;
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc;

}




.skills__type{
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
    color:#1abc9c;
    margin-bottom: 40px;


}

.skills__text{

    font-family: 'Montserrat', sans-serif;
    text-align:justify;
    color:#95a5a6;
    font-size:15px;
    font-weight:400;
}

.skills__item{

    width:33.33333%;
    text-align: center;
    margin-right:100px;
}

.skills__item:last-child{
    margin-right: 0;
}




/*PORTFOLIO
===========*/


.portfolio__inner{

    display:flex;
    margin-bottom: 60px;

}

.portfolio__item{

    position:relative;
    overflow:hidden;
    height:400px;
    margin-right:160px;

}

.portfolio__item:last-child{
   margin-right:0;
}

.portfolio__item:hover .portfolio__bg{
    opacity:0;
}

.portfolio__item:hover .portfolio__show{
    opacity:1;
}

.portfolio__item:hover .portfolio__icon{
    opacity:1;
}

.portfolio__img{

    position:absolute;
    left:0;
    top:0;

    min-width:100%;
    height:100%;
    z-index:1;
}



.portfolio__bg{

    display:block;

    width:100%;
    height:100%;
    opacity: .5;

    background: #e38279;

    position:absolute;
    top:0;
    left:0;
    z-index:2;

    transition:opacity .2s linear;

}



.portfolio__show{

    display:block;
    opacity:0;
    width:100%;
    height:100%;

    position:absolute;
    top:0;
    left:0;

    z-index:3;
    transition: opacity .2s linear;
}

.portfolio__show__bg{

    background: #1abc9c;
    padding:25px 20px;
}

.portfolio__show__inner{


    width:100%;

    display:block;
    position: absolute;
    bottom:0;

    background: rgba(26, 188, 156,.5);
    padding-top:10px;


}

.portfolio__icon{
    display: block;
    background: rgba(26, 188, 156,.5);
    height:50px;
    width:50px;
    position: absolute;
    right:0;
    z-index:3;
    margin:20px;
    text-align: center;
    padding:5px;
    opacity: 0;


    transition: opacity .2s linear;

}

.portfolio__icon__bg{


    height:100%;
    width:100%;
    background: #1abc9c;

}

.portfolio__icon__img{

    margin-top:12px;

}

.show__title{

    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size:30px;
    color:#fff;

}

.show__subtitle{


    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size:15px;
    color:#297465;

}



.portfolio__item{
    width:50%;
}



.view__more{

    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #ccc;

}




.btn__view{

    display:flex;
    justify-content: space-between;
    align-items: center;


    text-decoration: none;
    width:240px;
    height:50px;
    padding: 0 20px;

    font-family: 'Rokkitt', serif;
    font-weight:400;
    font-size:24px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #1abc9c;

    color:#fff;

    transition: background-color .2s linear;
}


.btn__view:hover{

    background-color: #169d82;

}


/*CONTACT

========================*/


.contact__inner{
    text-align: center;
    padding:0 80px;

}

.contact__input{
    display: flex;

}

.contact__title{

    font-size:60px;
    font-weight: 400;
    font-family: 'Rokkitt', serif;
    color:#1abc9c;
    margin-bottom: 70px;
}

.contact__name{

    border:0;
    background: #e4e8e8;
    width:50%;
    font-size:30px;
    font-weight: 400;
    font-family: 'Rokkitt', serif;
    color:#676767;
    padding:30px;
    outline: none;

    margin:0 20px 30px 20px;

}

.contact__name::placeholder{

    color:#9f9e9e;
}


.contact__help__block{

    width:100%;
    padding:0 20px;

}

.contact__help{

    border:0;
    background: #e4e8e8;

    height:250px;
    font-size:30px;
    font-weight: 400;
    font-family: 'Rokkitt', serif;
    color:#676767;
    padding:30px;
    outline: none;
    width:100%;

    resize:none;


}

.contact__help::placeholder{

    color:#9f9e9e;
}



/*FOOTER
==================*/

.footer{

    background-color: #1abc9c;
    width:100%;
    height:250px;
    margin-top: 100px;
    margin-bottom: 0;
}



.copyright{
    position: relative;

    padding-top:100px;
    display: flex;
    justify-content: space-between;

}


.copyright__author{

    color:#fff;
    font-family: 'Rokkitt', serif;
    font-weight: 200;
    font-size:24px;

}


.social__icon__main{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:-50px;
    left:0;
    width:100%;

}

.social__icons{

    background: rgba(26, 188, 156,.5);
    padding:8px;
    width:100px;
    height:100px;
    z-index:1;
    cursor: pointer;

}

.social__icons:hover .social__icon__bg2{

    background-color: #1abc9c;
}

.social__icons:hover .social__icon{

    fill:#fff;
}

.social__icon__bg2{
    background-color: #fff;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s linear;

}

.social__icon{

    width:100%;
    height:40px;

    fill:#1abc9c;
    display: block;

    transition:fill .2s linear;
}



/*MEDIA
========================*/



/*MEDIA 1210px
========================*/


@media (max-width:1210px){



     .header__inner{
        margin:0 30px;
    }


    /* ABOUT*/

    .about{
            margin:25px auto;

        }

    .about__author{

        font-size:28px;
        margin-bottom: 0;
    }


    .about__text{

        font-size:18px;

    }


    /*SKILLS*/

    .skills{
        margin-top:-60px;
    }

    .skills__type{

        font-size:16px;
        margin-bottom: 20px;
    }

    .skills__text{

        font-size:14px;
    }


    .skills__item{

        margin-right:30px;
        margin-left:30px;
    }

    .skills__item:last-child{
        margin-right: 30px;
    }


    /*PORTFOLIO*/



    .portfolio__item{

        height:300px;
        margin-right:30px;
        margin-left:30px;

    }

    .portfolio__item:last-child{
       margin-right:30px;
    }


    .view__more{
    padding-bottom: 40px;
    }

    .social__icon__main{
       padding:0 30px;

    }



    /*COPYTRIGHT*/

    .copyright{

    padding:50px 20px 0 20px;
    }

}




/*MEDIA 768px
=========================*/


@media (max-width:768px){

/*NAV*/


    .header__inner{
        margin:0 30px;
    }



    nav{
        display:none;
    }
/*BURGER*/
    .burger{
        display:block;
    }




/* ABOUT*/

    .about{
            margin:20px auto;

        }

    .about__author{

        font-size:24px;


        margin-bottom: 0;
    }


    .about__text{

        font-size:12px;

    }


    /*SKILLS*/

    .skills{
            margin-top:-60px;
    }

    .skills__type{

        font-size:12px;

        margin-bottom: 20px;


    }

    .skills__text{


        font-size:10px;

    }


    .skills__item{

        margin-right:10px;
        margin-left:10px;
    }

    .skills__item:last-child{
        margin-right: 10px;
    }


    /*PORTFOLIO*/



    .portfolio__item{

        height:200px;
        margin-right:30px;
        margin-left:30px;

    }

    .portfolio__item:last-child{
       margin-right:30px;
    }


    .view__more{
    padding-bottom: 40px;
    }

    .social__icon__main{
       padding:0 30px;

    }

    .show__title{

    font-size:20px;

    }

    .show__subtitle{
        font-size:10px;

    }


    /*CONTACT

========================*/


    .contact__inner{

        padding:0 30px;

    }

    .contact__input{
    flex-wrap:wrap;

}
    .contact__name{
        width:100%;
    }


    .contact__name{

        font-size:18px;
        padding:10px;

    }

    .contact__help{
        font-size:18px;
        padding:10px;
    }


    .contact__title{

    font-size:40px;

    margin-bottom: 30px;
}


    /*COPYTRIGHT*/

    .copyright{

    padding:50px 20px 0 20px;
    }



}



/*MEDIA 480px
==========================*/

@media(max-width:480px){

/*INTRO*/

    .intro__inner{

    padding: 0 40px;

}

    .intro__title{

    font-size:40px;
    }

    .intro__subtitle{


        font-size:15px;
    }



    /* ABOUT*/

    .about{
         margin:10px auto;

        }

    .about__inner{
    padding:0 50px;
}

    .about__author{

        font-size:20px;


        margin-bottom: 0;
    }


    .about__text{

        font-size:10px;

    }

     /*SKILLS*/

    .skills{
            margin-top:-60px;
    }

    .skills__inner{
   flex-wrap:wrap;

}

    .skills__type{

        font-size:12px;

        margin-bottom: 20px;


    }

    .skills__text{


        font-size:10px;

    }


    .skills__item{
        width:100%;

    }

    /*PORTFOLIO*/

     .show__title{

    font-size:14px;
    }

    .show__subtitle{
        font-size:12px;
    }


    .portfolio__inner{

        flex-wrap: wrap;
        margin-bottom: 0;

    }

    .portfolio__item{

      width:100%;
      margin:20px;

    }



    .portfolio__item:last-child{
       margin-right:20px;
    }

    .social__icons{


    padding:8px;
    width:80px;
    height:80px;
    }

    .social__icon__main{

    top:-40px;

}



}























